<div id="user-main">
    <div class="user-filter">
        <div class="user-filter-inner">
            <div class="filter-search">
                <input type="search" placeholder="Search...">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="filter-title">
                <p>coustomer list</p>
            </div>
     


        </div>
    </div>
    <div class="user-list">
        <div class="user-list-inner">
            <div class="table">
                <table class="user-table-inner">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>address</th>
                            <th>date of birth</th>
                            <th>Mobile</th>
                            <th>email</th>
                            <th>password</th>
                            <th>Created on</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Ritwick</td>
                            <td>Biswas</td>
                            <td>Regional User</td>
                            <td>SMS</td>
                            <td>7872070356</td>
                            <td>--</td>
                            <td>--</td>
                            <td>Dec 28,2023</td>
                            <td>
                                <a>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                &nbsp;
                                <a>
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <div class="pagination"></div>
        </div>
    </div>
</div>